.LOC-Creative .et-body {
  font-family: "ETradeFort", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.LOC-Creative .et-content {
  height: calc(100% - 120px);
  padding-bottom: 15px;
}

.LOC-Creative .et-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.LOC-Creative .icon-container {
  height: 200px;
  margin-bottom: 55px;
}

.carousel-cell#carousel-cell-2 .icon-container {
  padding-top: 14px;
  padding-bottom: 14px;
}

.LOC-Creative .icon-container .icon {
  height: 100%;
}

.LOC-Creative .text-container {
  padding-left: 48px;
  padding-right: 48px;
}

.LOC-Creative .text-container .carousel-header {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 17px;
}

.LOC-Creative .text-container .carousel-text {
  font-size: 13px;
}

.LOC-Creative .btn {
    padding: 12px 30px 13px;
    font-size: 18px;
    line-height: 18px;
    min-height: 45px;
    display: inline-block;
    text-align: center;
    white-space: initial;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    margin: 0 0 15px 0;  // edited
    font-weight: 500;
}
.LOC-Creative .btn-primary {
    color: #FFFFFF;
    background-color: #5627D8;
    border-color: #5627D8;
}

.LOC-Creative .btn-block {
    display: block;
    width: 100%;
}

.LOC-Creative .btn-primary-outline {
    color: #5627D8;
    background-color: transparent;
    border-color: #5627D8;
}

@media (max-width: 374px) {
  .LOC-Creative .icon-container {
    height: 160px;
  }
  .carousel-cell#carousel-cell-3 .icon-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* flickerty */
.LOC-Creative .carousel-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  text-align: center;
}

.LOC-Creative .flickity-enabled {
  position: relative;
}

.LOC-Creative .flickity-enabled:focus { outline: none; }

.LOC-Creative .flickity-viewport {
  overflow: hidden;
  position: relative;
  height: calc(100% - 51px);
}

.LOC-Creative .flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.LOC-Creative .flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.LOC-Creative .flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.LOC-Creative .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.LOC-Creative .flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -35px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.LOC-Creative .flickity-page-dots .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 8px;
  background: #dbdbdb;
  border-radius: 50%;
  cursor: pointer;
}

.LOC-Creative .flickity-page-dots .dot.is-selected {
  background: #5627D8;
}

@font-face {
  font-family: "ETradeFort";
  src: url("ETradeFort-Book.woff");
  src: url("ETradeFort-Book.woff?#iefix") format("embedded-opentype"), url("ETradeFort-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
